name: "Create Automatic Release after tag created"
on:
  push:
    tags:
      - "v*"
jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set env
        run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
      - uses: gradle/wrapper-validation-action@v1
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle
      - name: Generate jar with all dependencies
        run: ./gradlew shadowJar
      - name: Create release
        uses: marvinpinto/action-automatic-releases@latest
        with:
          repo_token: ${{ secrets.ACCESS_TOKEN }}
          prerelease: false
          automatic_release_tag: ${{env.RELEASE_VERSION}}
          files: |
            ./app/build/libs/*all.jar
      - name: 'Remove Snapshots Before Caching'
        run: find ./app/build/libs/ -name *.jar | xargs rm -Rf
