name: "Create Automatic Release after tag created"
on:
  push:
    tags:
      - "v*"
jobs:
  release:
    name: Release
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest, macos-latest ]
    steps:
      - uses: actions/checkout@v3
      - name: Set env
        run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
      - uses: gradle/wrapper-validation-action@v1
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle
      - name: Generate jar with all dependencies
        run: ./gradlew build
      - name: Release
        uses: softprops/action-gh-release@v0.1.14
        with:
          files: ./app/build/libs/*all.jar
        env:
          GITHUB_TOKEN: ${{ secrets.ACCESS_TOKEN }}

